:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #083358;
    --secondary: #F67280;
    --success: #0074E4;
    --info: #74DBEF;
    --warning: #FC3C3C;
    --danger: #FF4057;
    --light: #F2F2F0;
    --dark: #072247;
}

#home-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    background-image: linear-gradient(
            rgba(0, 0, 0, 0.55),
            rgba(0, 0, 0, 0.55)
    ),url("../images/city.jpg");
    background-position: center;
    background-size: cover;
}

.form-control-range::-webkit-slider-thumb,
.form-control-range::-moz-range-thumb,
.form-control-range::-ms-thumb {
    background: var(--danger);
    cursor: pointer;
}