<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <meta charset="UTF-8">
            <title>{% block title %}Welcome!{% endblock %} - Accessimmo</title>
            
            {% include 'stylesheets.html.twig' %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% include 'menu.html.twig' %}

            <div class="container-fluid">
                {% block content %}
                    <h1 class="text-primary">This is the base template <ion-icon name="heart"></ion-icon></h1>
                {% endblock %}
            </div>
        {% endblock %}
        
        {% include 'javascripts.html.twig' %}
    </body>
</html>
